chat_history.db
config.db
chat_history_docker.db
config_docker.db
test/
Notes/
logs/
config/
.idea/
__pycache__/
*.pyc
docker_logs/
cache/
backend/.env
backend/config.yaml
backend/config.yaml.bak
scripts/
TestFile/
.github
dev/
/架构图
/docs
/tests
.kiro
.pytest_cache


OcrChunk
.hypothesis
bug.md
alembic.ini
.kiroignore
docker/mount/
docker/config.yaml
.vscode
